body {
    font-family: 'Oxanium';
    background-color: rgb(251, 251, 251);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 4rem;
    font-weight: 100;
    color: grey;
}

.pokemonCardFront {
    display: inline-block;
    border-radius: 10px;
    margin: 20px;
    height: 330px;
    width: 250px;
    box-shadow: 0px 3px 4px 3px #DDD;
    background-color: white;
    vertical-align: top;
}

.pokemonCardBack {
    display: inline-block;
    border-radius: 10px;
    margin: 20px;
    height: 330px;
    width: 250px;
    box-shadow: 0px 3px 4px 3px #DDD;
    background-color: white;
    vertical-align: top;
}

.pokemonName {
    display: block;
    color: grey;
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0 20px;
}

.pokemonImg {
    display: block;
    width: 200px;
    margin: 0 auto 20px;
}

.pokemonId {
    color: grey;
    border: solid grey 1px;
    border-radius: 20px;
    padding: 5px 15px;
}

#container {
    text-align: center;
}

.pokemonTypeGrass {
    display: inline-flex;
    color: black;
    border-radius: 5px;
    background-color: #9bcc50;
    width: 80px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 50px 5px;
}

.pokemonTypePoison {
    display: inline-flex;
    color: white;
    border-radius: 5px;
    background-color: #b87fca;
    width: 80px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 50px 5px;
}

.pokemonTypeFire {
    display: inline-flex;
    color: black;
    border-radius: 5px;
    background-color: #fd7d24;
    width: 80px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 50px 5px;

}

/*GROUND = linear-gradient(180deg, #f7de3f 50%, #ab9842 50%); */
/* FLYING = linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%); */
/* NORMAL */
/* FAIRY */
/* BUG */
/* WATER */
/* FIGHTING */
/* PSYCHIC */
/* ROCK */
/* STEEL */
/* GHOST */
/* ICE */
/* ELECTRIC */
/* DRAGON */
/* DARK */