:root {
    --Fire: #fd7d24;
    --Water: #4592c4;
    --Grass: #9bcc50;
    --Poison: #b87fca;
    --Bug: #729f3f;
    --Normal: #a4acaf;
    --Flying: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    --FlyingSingle: #3dc7ef;
    --Fairy: #ff96e0;
    --Fighting: #d56723;
    --Ground: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    --GroundSingle: #ab9842;
    --Steel: #9eb7b8;
    --Ghost: #7b62a3;
    --Ice: #51c4e7;
    --Electric: #eed535;
    --Psychic: #f366b9;
    --Rock: #a38c21;
    --Dark: #707070;
    --Dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    --DragonSingle: #f16e57;
  }

  /*GROUND = linear-gradient(180deg, #f7de3f 50%, #ab9842 50%); */
/* FLYING = linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%); */

body {
    font-family: 'Oxanium';
    background-color: rgb(251, 251, 251);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 4rem;
    font-weight: 100;
    color: grey;
}

.pokemonCardFront {
    display: inline-block;
    border-radius: 10px;
    margin: 20px;
    height: 330px;
    width: 250px;
    box-shadow: 0px 3px 4px 3px #DDD;
    background-color: white;
    vertical-align: top;
}

.pokemonCardBack {
    display: inline-block;
    border-radius: 10px;
    margin: 20px;
    height: 330px;
    width: 250px;
    box-shadow: 0px 3px 4px 3px #DDD;
    background-color: white;
    vertical-align: top;
}

.pokemonName {
    display: block;
    color: grey;
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0 20px;
}

.pokemonImg {
    display: block;
    width: 200px;
    margin: 0 auto 20px;
    border-radius: 500px;
}

.pokemonId {
    color: grey;
    border: solid grey 1px;
    border-radius: 20px;
    padding: 5px 15px;
    width: 50px;
}

.pokemonHeight {
    display: block;
    word-spacing: 25px;
}

.pokemonHeight:before {
    color: red;
    content: "Height";
    margin-right: 15px;
    border: solid 1px red;
}

#container {
    text-align: center;
}

.pokemonTypeGrass, .pokemonTypePoison, .pokemonTypeFire, .pokemonTypeGround, .pokemonTypeIce, .pokemonTypeElectric, .pokemonTypeFlying, .pokemonTypeFighting, .pokemonTypeNormal,.pokemonTypeWater, .pokemonTypeBug, .pokemonTypeFairy, .pokemonTypeDark, .pokemonTypeDragon, .pokemonTypeSteel, .pokemonTypePsychic, .pokemonTypeRock, .pokemonTypeGhost {
    display: inline-flex;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 50px 5px;
}
.pokemonTypeWater {
    color: white;
}


.pokemonTypePoison, .pokemonTypeDark, .pokemonTypeBug, .pokemonTypeDragon {
    color: white;
}