.maincontainer {
    position: absolute;
    width: 250px;
    height: 320px;
    background: none;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.card:hover {
    cursor: pointer;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: orange;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: purple;
    transform: rotateY(180deg);
}

.flipCard {
    transform: rotateY(180deg);
}